*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.wrapper{
    width: auto;
    border: 1px solid black;
}
.wrapper h1{
    text-align: center;
}
.submit-button{
    text-align: center;
    color: yellow;
    
    
}
.input-box input{
    padding: 3px;

}
